body {
  margin: 0;
  margin-top: 1rem;
}
html, body, pre, code, kbd, samp {
  font-family: "Press Start 2P";
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}